.calcite
  .esriLegendServiceLabel,
  .esriLegendLayerLabel
    font-weight normal
    font-size $textSectionTitleSize
    font-family $fontFamilyDefault

  .esriLegendService,
  .esriLegendLayer
    font-weight normal
    font-size $fontSizeDefault
    font-family $fontFamilyDefault

/*.calcite .esriLegendLayer tr:hover {
    calciteArcGISPro_ButtonActive();
    border:none;
}*/