.calcite
  .esriOverviewMap
    .map
      border-color CalciteColorGray160

    .ovwTR .ovwShow,
    .ovwBL .ovwHide
      background none
      background-image none
      color $textColorDefault
      &:before
        iconfont("esriIconOverview1");
        position relative
        top 0px
        left 0px