/* ======================================================================================================= */
/* Calcite Web Classes Forms */
/* ======================================================================================================= */
@import "variables";

.calcite
  .btn.btnCW.dijitButton .dijitButtonNode
    calciteCSS_ActionButton("default")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover .dijitButtonNode
    calciteCSS_ActionButton_Hover("default")
  .btn.btnCW.dijitButton.dijitButtonDisabled .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")
  .btn.btnCW.dijitButton .dijitButtonText
    padding 0
    line-height: 24px

  .btn.btnCW.dijitButton .dijitButtonContents
    padding 3px 15px
  .btn.btnCW.dijitButton .dijitButtonText
    padding 0
    line-height: 24px
  .btn.btnCW.dijitButton .dijitButtonContents
    padding 3px 15px


  // "Default" button
  .btn.btnCW.dijitButton .dijitButtonNode
    calciteCSS_ActionButton("default")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused .dijitButtonNode
    calciteCSS_ActionButton_Hover("default")


  // Blue
  .btn.btnCW.dijitButton.blue .dijitButtonNode
    calciteCSS_ActionButton("blue")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.blue .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.blue .dijitButtonNode
    calciteCSS_ActionButton_Hover("blue")
  .btn.btnCW.dijitButton.dijitButtonDisabled.blue .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.blue .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.blue .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Green
  .btn.btnCW.dijitButton.green .dijitButtonNode
    calciteCSS_ActionButton("green")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.green .dijitButtonNode
  .btn.btnCW.dijitButton.dijitButtonFocused.green .dijitButtonNode
    calciteCSS_ActionButton_Hover("green")
  .btn.btnCW.dijitButton.dijitButtonDisabled.green .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.green .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.green .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Orange
  .btn.btnCW.dijitButton.orange .dijitButtonNode
    calciteCSS_ActionButton("orange")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.orange .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.orange .dijitButtonNode
    calciteCSS_ActionButton_Hover("orange")
  .btn.btnCW.dijitButton.dijitButtonDisabled.orange .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.orange .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.orange .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Light
  .btn.btnCW.dijitButton.light .dijitButtonNode
    calciteCSS_ActionButton("light")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.light .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.light .dijitButtonNode
    calciteCSS_ActionButton_Hover("light")
  .btn.btnCW.dijitButton.dijitButtonDisabled.light .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.light .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.light .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Red
  .btn.btnCW.dijitButton.red .dijitButtonNode
    calciteCSS_ActionButton("red")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.red .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.red .dijitButtonNode
    calciteCSS_ActionButton_Hover("red")
  .btn.btnCW.dijitButton.dijitButtonDisabled.red .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.red .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.red .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Transparent
  .btn.btnCW.dijitButton.transparent .dijitButtonNode
    calciteCSS_ActionButton("transparent")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.transparent .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.transparent .dijitButtonNode
    calciteCSS_ActionButton_Hover("transparent")
  .btn.btnCW.dijitButton.dijitButtonDisabled.transparent .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.transparent .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.transparent .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Green Placeholder
  .btn.btnCW.dijitButton.placeholder .dijitButtonNode
    calciteCSS_ActionButton("greenplaceholder")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.placeholder .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.placeholder .dijitButtonNode
    calciteCSS_ActionButton_Hover("greenplaceholder")
  .btn.btnCW.dijitButton.dijitButtonDisabled.placeholder .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.placeholder .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.placeholder .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // White Fill & Gray Outline
  .btn.btnCW.dijitButton.white.outline .dijitButtonNode
    calciteCSS_ActionButton("whiteoutline")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.white.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.white.outline .dijitButtonNode
    calciteCSS_ActionButton_Hover("whiteoutline")
  .btn.btnCW.dijitButton.dijitButtonDisabled.white.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.white.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.white.outline .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Transparent fill & Gray Outline
  .btn.btnCW.dijitButton.transparent.outline .dijitButtonNode
    calciteCSS_ActionButton("transparentoutline")
    padding 0
  .btn.btnCW.dijitButton.dijitButtonHover.transparent.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonFocused.transparent.outline .dijitButtonNode
    calciteCSS_ActionButton_Hover("transparentoutline")
  .btn.btnCW.dijitButton.dijitButtonDisabled.transparent.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover.transparent.outline .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused.transparent.outline .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // Disabled buttons
  .btn.btnCW.dijitButton.dijitButtonDisabled .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonHover .dijitButtonNode,
  .btn.btnCW.dijitButton.dijitButtonDisabled.dijitButtonFocused .dijitButtonNode
    calciteCSS_ActionButton_Disabled("default")


  // =======================================================================================================
  // ArcGIS Pro style
  // =======================================================================================================

  .dijitButton,
  .dijitButtonNode,
  .dijitButtonContents,
  .dijitButtonText
    outline none !important

  /* Default Button */
  .dijitButton .dijitButtonNode,
  .dijitDropDownButton .dijitButtonNode,
  .dijitComboButton .dijitButtonNode,
  .dijitToggleButton .dijitButtonNode
    calciteArcGISPro_ButtonDefault()
    calciteWeb_RoundRadius(0)
    calciteWeb_NoBoxShadow()
    background-image none !important
    font-family $fontFamilyDefault

  /* Default Button - with rounded corners */
  .dijitButton.rounded .dijitButtonNode
    calciteWeb_RoundRadius($borderRadiusSize2)

  /* Hover state - Default Button */
  .dijitButton.dijitButtonHover .dijitButtonNode,
  .dijitDropDownButton.dijitButtonHover .dijitButtonNode,
  .dijitComboButton.dijitButtonHover .dijitButtonNode,
  .dijitToggleButton.dijitButtonHover .dijitButtonNode
    calciteArcGISPro_ButtonHover()
    background-image none !important

  /* Focused state - Default Button */
  .dijitButton.dijitButtonFocused .dijitButtonNode,
  .dijitButton.dijitButtonActive .dijitButtonNode,
  .dijitButton.dijitButtonActiveFocused .dijitButtonNode
    calciteArcGISPro_ButtonHover()
    background-image none

  /* Disabled state - Default Button */
  .dijitButton.dijitButtonDisabled .dijitButtonNode
    calciteArcGISPro_ButtonDisabled()
    background-image none

  /* Toggle Button - Toggled/Active state */
  .dijitToggleButton.dijitChecked .dijitButtonNode,
  .dijitToggleButton.dijitToggleButtonChecked .dijitButtonNode
    calciteArcGISPro_ButtonActive()

  .dijitToggleButton .dijitCheckBoxIcon

    background-image none

    &:before
      iconfont("esriIconDownArrow");
      position relative
      top 0
      left 0
