.jimu-widget-attributetable{
  z-index: 101;/*above map's attribute*/
}
.jimu-widget-attributetable .jimu-loading-indicator{
  z-index: 1000;
}
.jimu-widget-attributetable-main .tabStripButton{
  height: 24px !important;
}
.jimu-widget-attributetable, .jimu-widget-attributetable-main{
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #efefef;
}
.jimu-widget-attributetable-main{
  overflow: hidden;
}
.jimu-widget-attributetable-move{
  width: 100%;
  height: 7px;
  top: 0px;
}
.jimu-widget-attributetable-move:hover{
  cursor: n-resize;
}
.jimu-widget-attributetable-move:hover .jimu-widget-attributetable-thumb{
  background-color: #fff;
}
.jimu-widget-attributetable-thumb{
  background: #B0B0B0 none;
  height: 1px;
  width: 19px;
  margin: 3px auto;
  position: absolute;
  left: 0;
  right: 0;
}
.jimu-widget-attributetable-indicate-vertical{
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.jimu-widget-attributetable-indicate-horizontal{
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.jimu-widget-attributetable-bar{
  width: 63px;
  height: 17px;
  left: 0;
  right: 0;
  top: -17px;
  margin: auto;
  position: absolute;
  background-color: #efefef;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 2px 2px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}
.jimu-widget-attributetable-bar:hover{
  background-color: #bfbfbf;
}
.jimu-widget-attributetable-bar.open{
  background-image: url(images/arrow_down.png);
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.jimu-widget-attributetable-bar.close{
  background-image: url(images/arrow_up.png)
}
.jimu-widget-attributetable-arrowImage{
  width: 30px;
  height: 30px;
  left: 48%;
  top: -30px;
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: ns-resize;
  background-color: rgba(0, 0, 0, 0.8);
}

.dijitTabPaneWrapper .dijitTabContainerTop-container .dijitAlignCenter{
  height: 100%;
}
.jimu-widget-attributetable .dijitTabContainerTopChildWrapper,
.jimu-widget-attributetable .dijitTabContainerTopChildWrapper .dijitContentPane{
  height: 100%;
}

.jimu-widget-attributetable .esriAttributeTable{
  width: 100%;
  height: 100%; 
  position: relative;
}
.jimu-widget-attributetable .esriAttributeTableToolbar{
  width: 100%;
  height: 30px;
  left: 0px;
  top: 0px;
  z-index: 100;
  position: relative;
}
.jimu-widget-attributetable .dgrid-sortable { 
  font-weight: bold;
}
.jimu-widget-attributetable .dgrid-cell {
  border-right: solid 1px #ccc;
  width: 100px;
}
.jimu-widget-attributetable .dgrid-row .dgrid-cell {
  border:medium none;  
  padding: 7px 3px;
  border-right: 1px solid #CCCCCC;
}
.jimu-rtl .jimu-widget-attributetable .dgrid-cell {
  text-align: right;
}
.jimu-widget-attributetable .dgrid-header {
  overflow: hidden;
  background-color: #eee;
}
.jimu-widget-attributetable .dgrid-cell a{
  color: #21759B;
  text-decoration: none;
}
.jimu-widget-attributetable .dgrid-cell a:hover, a:active{
  text-decoration: underline;
}
.jimu-widget-attributetable .dgrid-row {
  border: medium none;
}
.jimu-widget-attributetable .dgrid-row:hover {
background-color:#E1F0FB;
}
.jimu-widget-attributetable .dgrid-row-even{
  background-color: #FFF;
}
.jimu-widget-attributetable .dgrid-row-odd {
  background-color: #F7F8F8;
}
.jimu-widget-attributetable .ui-state-active {
  background-color: #AEC7E3;
}
.jimu-widget-attributetable .dgrid-status {
  white-space: pre;
}
.jimu-widget-attributetable .self-footer {
  display: inline-block;
}
.jimu-rtl .dgrid-hider-menu-check{
  right: 2px;
  left: auto;
}
.jimu-rtl .dgrid-hider-menu-label {
  padding-left: 0;
  padding-right: 20px; 
}
.jimu-rtl .jimu-widget-attributetable .dgrid-pagination .dgrid-status{
  float: right !important;
}
.jimu-rtl .dgrid-pagination .dgrid-navigation,
.jimu-rtl .dgrid-pagination .dgrid-page-size{
  float: left !important;
}
.esriAttributeTableExportImage{
  background-image: url("../images/export.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableZoomImage{
  background-image: url("../images/zoom.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableSelectAllImage{
  background-image: url("../images/select.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableSelectPageImage{
  background-image: url("../images/page.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableClearImage{
  background-image: url("../images/clear.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableOptionsImage{
  background-image: url("../images/more.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableRefreshImage{
  background-image: url("../images/refresh.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableSymbolImage{
  background-image: url("../images/symbol.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableCloseImage{
  background-image: url("../images/close.png");
  width: 13px;
  height: 13px;
}
.esriAttributeTableColumnsImage{
  background-image: url("../images/columns.png");
  width: 13px;
  height: 13px;
}