// =======================================================================================================
// Calcite Messaging
// =======================================================================================================
/* Warning Message */
calciteArcGISPro_WarningMessage() {
  background-color: CalciteColorYellow5;
  color: $textColorDefault;
}
calciteArcGISPro_WarningIcon() {
  iconfont("esriIconNotice")
  font-size $fontSizeIconDefault
}

/* Success Message */
calciteArcGISPro_SuccessMessage() {
  background-color: CalciteColorGreen1;
  color: $textColorDefault;
}
calciteArcGISPro_SuccessIcon() {}

/* Error Message */
calciteArcGISPro_ErrorMessage() {
  background-color: CalciteColorRed5;
  color: $textColorDefault;
}
calciteArcGISPro_ErrorIcon() {}
