/* ------------------------------------------------------------------------------------------------------- */
/* Calcite ArcGIS Pro Button styles */
/* ------------------------------------------------------------------------------------------------------- */
calciteArcGISPro_ButtonBorder() {
  border-width: 1px;
  border-style: solid;
}
calciteArcGISPro_ButtonDefault() {
  color:  $textColorDefault;
  border-color: $borderColorDefault;
  background-color: $backgroundFillDefault;
}
calciteArcGISPro_ButtonHover() {
  color:  $textColorDefault;
  border-color: $borderColorHover;
  background-color: $backgroundFillHover;
}
calciteArcGISPro_ButtonFocus() {
  calciteArcGISPro_ButtonHover();
}
calciteArcGISPro_ButtonActive() {
  color:  $textColorDefault;
  border-color: $borderColorActive;
  background-color: $backgroundFillActive;
}
calciteArcGISPro_ButtonActiveHover() {
  color:  $textColorDefault;
  border-color: $borderColorActiveHover;
  background-color: $backgroundFillActiveHover;
}
calciteArcGISPro_ButtonDisabled() {
  color:  $textColorDisabled;
  border-color: $borderColorDisabled;
  background-color: $backgroundFillDisabled;
  cursor: default;
  opacity 0.5
}