<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--数据库连接字符串，请根据计算机的数据库实例名修改connectionString属性，请不要修改name属性-->
    <add name="Air_Quality" connectionString="Data Source=ZGB\ZGB;Database=Air_Quality;uid=ArcGISServer;pwd=zgb"/>
    <add name="Air_Station" connectionString="Data Source=ZGB\ZGB;Database=Air_Station;uid=ArcGISServer;pwd=zgb"/>
    <add name="Air_Statistics" connectionString="Data Source=ZGB\ZGB;Database=Air_Statistics;uid=ArcGISServer;pwd=zgb"/>
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <!-- Configure site to serve JSON files -->
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <!-- Configure site to serve font files -->
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>