
.jimu-widget-SpiderChart .Highchart {
    float:left;
    width:70%;
    height:100%;
}
.jimu-widget-SpiderChart .Highchart .head {
    width:100%;
    height:25px;
}
.jimu-widget-SpiderChart .Highchart .head input {
    width: 30%;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(209, 245, 218);
}
jimu-widget-SpiderChart .Highchart #SpiderChart {
    height:100%;
}

.jimu-widget-SpiderChart .About {
    width:30%;
    height:100%;
    float: left;
    background-image:url("../images/tower.png");
    background-size:cover;
}
.jimu-widget-SpiderChart .About .head {
    width:100%;
    height:30%;

}
.jimu-widget-SpiderChart .About .head p {

}